<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .my-icon-class {
    color: green;
  }
  .my-icon-class2 {
    color: blue;
  }
  .my-icon-class3 {
    color: yellow;
  }
  .my-icon-class:hover,
  .my-icon-class2:hover,
  .my-icon-class3:hover {
    color: red;
  }
</style>

<div class="content" role="main">
  <!-- Resources -->
  <h2>Sample Icons with Sizes, color and Hovereffects</h2>
  <svg-icon-sprite
    class="my-icon-class"
    [src]="'icons8-brainstorm'"
    [width]="'40px'"
  ></svg-icon-sprite>
  <svg-icon-sprite
    class="my-icon-class2"
    [src]="'icons8-brainstorm'"
    [width]="'20px'"
  ></svg-icon-sprite>
  <svg-icon-sprite
    class="my-icon-class3"
    [src]="'icons8-brainstorm'"
    [width]="'128px'"
  ></svg-icon-sprite>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
